@import '_variables.scss';

/*********************
Button

#General
#Color 
*********************/

/*********************
#General
*********************/
.btn,
button,
.MuiButton-root {
    &.MuiButton-contained,
    &.MuiButton-outlined  {
        // padding: 5px 4%;
        text-transform: capitalize;
        // border-radius: 22.5px;
    }
    
    &.btn-sm {
        font-weight: bold;
        font-size: 12px;     
        padding: 5px 20px; 
        &.btn-shadow {
            box-shadow: 0 6px 8px -5px rgba($color: $clr-gray, $alpha: .8);
        }  
    }
    &.MuiButton-containedSizeLarge {
        padding-top: 10px;
        font-size: 1.25rem;        
        font-weight: 600;
        // &.MuiButton-contained  {
        //     border-radius: 50px;
        // }   
    }
    &.btn-gradient {
        border:none;
        background-image: linear-gradient(270deg, #395D87 0%, #5CA3C2 100%);
        &.Mui-disabled,
        &:hover.Mui-disabled {
            background-color: $clr-gray;
            background-image: none;

        }
    }
    &.btn-shadow {
        box-shadow: 0 8px 11px -5px rgba($color: $clr-gray, $alpha: 1.0);
        &.btn-shadow--blue {
            box-shadow: 0 8px 11px -5px $clr-blue;
        }
    }
    /*********************
    #Color
    *********************/
    // &.MuiButton-containedPrimary,
    // &.MuiButton-containedPrimary:hover {
    //     background-color: $clr-blue;
    // }
    // &.MuiButton-outlinedPrimary,
    // &.MuiButton-outlinedPrimary:hover {
    //     border-color: $clr-blue;
    //     color: $clr-blue;
    // }
}

/*********************
#Color
*********************/
.MuiButton-containedPrimary {
    background-color: $clr-blue;
}

.btn,
button {
    &.btn-light {
        background-color: $clr-white;
    }
}

/*********************
#Action Button
*********************/
.btn,
button {
    &.btn-action-button {
        // border-radius: 50%;
        position: absolute;
        bottom: 30px;
        height: 60px;
        width: 60px;
        right: 30px; 
    }
}

/*********************
#Tap To scan
*********************/
.tap-to-scan {
    &.MuiFab-root {
        width: 100px;
        height: 100px;
        background-color: $clr-blue;
        box-shadow: 0 7px 12px 0 rgba(54,86,115,0.50);
        font-size: 40px;
        color: $clr-white;
        &:hover {
            background-color: darken($color: $clr-blue, $amount: 10%); 
        }
    }
}