@import '_variables.scss';

/*********************
Dialog
*********************/

.MuiDialog-root {
    .dialog-title {
        .MuiTypography-root {
            line-height: 1.5rem;
        }
    }
    &.--fullscreen {
        button.close-btn {
            position: absolute;
            right: 24px;
            top: 24px;
            padding: 10px;
        }
    }
}