@import '_variables.scss';

/*********************
Form

#footer
#Header
#placeholder
#label
#input
#search-bar
#search-bar
*********************/


.form_footer {
    display: flex;
    justify-content: flex-end;
}

/*********************
#placeholder
*********************/
.form-control {
    height:calc(1.5em + .75rem + 10px);
    padding: .75rem 1.25rem;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $clr-light-gray;
    }

    &::-moz-placeholder { /* Firefox 19+ */
    color: $clr-light-gray;
    }

    &:-ms-input-placeholder { /* IE 10+ */
    color: $clr-light-gray;
    }

    &:-moz-placeholder { /* Firefox 18- */
    color: $clr-light-gray;
    }
}

/*********************
#label
*********************/
label {
    font-size: 0.75rem;
    color: $clr-gray;
    margin-bottom: 3px;
}

/*********************
#input
*********************/
input.form-control {
    border: 1px solid $border-color;
}

/*********************
#search-bar
*********************/
.search-bar {
    position: relative;
    width: 100%;
    button {
        position: absolute;
        right: 0;
    }
}
