@import '_variables.scss';

/*********************
Slider


*********************/

.slider-overlay{
    position: fixed;
    top: 0;
    width: 100vh;
    background-color: rgba($color: black, $alpha: 0.6);
    height: 100vh;
    z-index: 2;
}