@import '_variables.scss';

/*********************
Typography
*********************/



// h1 {
//     font-size: 1.56rem;
//     font-weight: 600;
//     color: #C2C2C2;
//     line-height: 1.75rem;
//     &.header-title {
//         padding: 15px 0;
//         font-family: "AvenirNext-bold";
//         color: $clr-blue;
//         font-size: 25px;
//     }
// }

// h4 {
//     font-size: 20px;
//     font-weight: 600;
// }

// p {
//     &.page-description {
//         font-size: 0.875rem;
//     }
// }