/*********************
Bootstrap
*********************/
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints";

/*********************
Font-Family
*********************/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900&display=swap');

$font-family: 'Nunito Sans', sans-serif;

/*********************
Colors
*********************/
$clr-black: #4A4A4A;
$clr-gray: lighten($color: $clr-black, $amount: 30%) ;
$clr-light-gray: lighten($color: $clr-gray, $amount: 30%);
$clr-white: #ffffff;
$clr-red : #d63031;
$clr-yellow : #e0c60a;
$clr-blue : #365673;
$clr-light-blue : #809CB6 ;
$clr-indigo : #303f9f;
 
$border-color: lighten($color: $clr-gray, $amount: 16%);
$text-color: #365673 ;
$link-color : #5CA3C2;


/*********************
Aligment
*********************/
.v-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*********************
Theme
*********************/
$theme-color: $clr-light-gray;

/*********************
Custom Breakpoints
*********************/

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

$breakpoints: (
    'xsmall':  $screen-xs-max,
    'small':  $screen-sm-min,
    'medium': $screen-md-min,
    'large':  $screen-lg-min
) !default;

@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

@mixin center-align($position: absolute) {
    position: $position;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
 
 // Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}
 
 // Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}
 
 // Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

// Custom Width
@mixin media-breakpoint-custom-width($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}

// Small height
  @mixin media-breakpoint-short-height {
    @media (max-height: $screen-sm-min) {
        @content;
    }
}