@import '../../assets/styles/partials/variables';


/*********************
Customer Lookup

#p-customer-lookup
#Customer List
*********************/

/*********************
#Customer List
*********************/
#p-customer-lookup {
    padding-top: 130px;
}
.customer-lookup_list {
    padding: 10px 0;
    font-size: 14px;
    width: 100%;
    .MuiListItem-button {
        border-bottom: 1px solid $border-color;
    }
    .list-group-item {
        display: flex;
        justify-content: space-between;
        
        .list_name {
            color: $clr-blue;
        }
    }
}