@import '../../assets/styles/partials/variables';


/*********************
Customer Lookup

#p-customer-lookup
#Create account
*********************/

/*********************
#Customer 
*********************/
#p-customer {
    height: 100vh;
    padding-top: 220px;
    background: rgba($color: $clr-light-gray, $alpha: .1);

 
    .history {
        margin-top: 21px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        color: $link-color;
    }

    .header {
        .header-description {
            margin-bottom: 25px;
        }
    }

}

/*********************
#Header
*********************/


/*********************
#Quick Detail
*********************/
.customer_quick-detail{
    display: flex;
    align-items: center;
    // box-shadow: 0 10px 12px 0 rgba(210, 214, 217, 0.33);
    .quick-detail-item {
        display: flex;
        font-size: 12px;
        color: $clr-blue;
        align-items: center;
        margin-right: 20px;
    }
}




