@import '../../assets/styles/partials/variables';


/*********************
Home

#p-home
#Tap to Scan
*********************/

#p-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &.-mobile {
        align-items: flex-start;
        padding: 0;
    }
    .home_keyboard {
        position: absolute;
        bottom: 20px;
        padding: 20px;
        text-align: center;
        font-size: 30px;
        svg {
            font-size: 30px;
            color: $clr-light-blue ;
        }
    }
    &.-desktop {
        height: auto;
        padding: 70px 15px;
        .layout-header_title {
            text-align: center;
            margin-bottom: 40px;
        }
        .MuiPaper-root {
            // height: 80vh;
            padding: 40px 20px 32px;
        }
        .search_results {
            height: auto;
            .MuiListItem-gutters {
                padding: 10px 20px;
                &:hover {
                    background-color: lighten($color: $clr-indigo, $amount: 55%) ;
                }
            }
        }
        .search-tool {
            position: relative;
            z-index: 2;
            margin-bottom: 40px;
            .search-button {
                position: absolute;
                bottom: -16px;
                width: 100%;
                left: 0;
                text-align: center;
            }
        }
     
    }
}

/*********************
#Tap to Scan
*********************/
.tap-to-scan_wrapper{
    position: relative;
    text-align: center;
    .MuiTouchRipple-root {
        animation: pulse 2s infinite;
        &:hover {
            animation: none;
        }
    }
  
    .tap-to-scan_text {
        margin-top: 20px;
        font-size: 18px;
        color: $clr-gray;
        
    }
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba($color: $clr-light-blue, $alpha: 0.4);    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba($color: $clr-light-blue, $alpha: 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba($color: $clr-light-blue, $alpha: 0.4);
    }
  }
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba($color: $clr-light-blue, $alpha: 0.4);
        box-shadow: 0 0 0 0 rgba($color: $clr-light-blue, $alpha: 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba($color: $clr-light-blue, $alpha: 0);
        box-shadow: 0 0 0 15px rgba($color: $clr-light-blue, $alpha: 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba($color: $clr-light-blue, $alpha: 0);
        box-shadow: 0 0 0 0 rgba($color: $clr-light-blue, $alpha: 0);
    }
}