@import '../../assets/styles/partials/variables';

#p-login {
    // height: 100vh;
    // padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../../assets/images/home-background_m.png);
    @include respond-to('xsmall') {
        background-image: none;
    }
    
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    h1 {
        color: $clr-gray;
        margin-bottom: 26px;
        @include respond-to('xsmall') {
            text-align: center;
        }
        > span {
            color: $clr-blue;
            display: block;
            font-weight: 600;
        }
    }

    .login_store {
        margin-top: 16px;
    }
    // .login_background-image {
    //     background-image: url('https://source.unsplash.com/random');
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: cover;
    // }
    .login_form {
        @include respond-to('xsmall') {
            background-image: none;
        }
        .paper {
            margin: 64px 32px;
            display: flex;
            flex-direction: column;
            @include respond-to('xsmall') {
                margin: 10% 10%;
            }
        }
    }
    .login_company-logo {
        font-size: 0.88rem;
        line-height: 1.19rem;
        color: $clr-light-gray;
        text-align: left;
        // margin-bottom: 22px;
        height: 30px;
        width: 30px;
        background-image: linear-gradient(270deg, #395D87 0%, #5CA3C2 100%);;
        border-radius: 5px;
        @include respond-to('xsmall') {
            margin: auto;
        }
       
    }

    .login_forgot-bassword {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        color: $clr-white;
        text-align: center;
        font-size: 0.6875rem;
        a {
            color: $clr-white;
            &::after {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                height: 2px;
                background-color: $clr-white;
                width: 100%;
            }
        }
    }
}

