@import '../../assets/styles/partials/variables';

/*********************
Layout : Create Account

#Create Account
*********************/


/*********************
#Create Account
*********************/
#p-customer-create-account {
    &.slideUp--true {
        display: none;
    }
    .layout-header {
        margin-bottom: 24px;
    }
    .MuiTypography-subtitle2  {
        margin-bottom: 8px;
    }
    .create-account_barcodes {
        .barcode_input-field {
            width: 100%;
            max-height: 150px;
            overflow: auto;
            .MuiGrid-item {
                margin-bottom: 16px;
            }
        }
    }
    .create-account_credits-btn {
        text-align: right;
    }
    .create-account_item-add  {
        width: 100%;
        border: 3px dotted $clr-gray;
        width: 100%;
        border-radius: 5px;
        justify-content: center;
        background-color: $clr-light-gray;
        font-weight: 600;
        color: $clr-gray;        
        cursor: pointer;
        margin-bottom: 15px;
    }
}

/*********************
#Layout : Create Account
*********************/
.customer_create-account .step-wrapper {

    .step {
        // height: 80vh;
        display: flex;
        align-items: center;
        margin-top: 7%;
        margin-bottom: 5%;
    }

    form {
        > .header h1{
            margin-bottom: 24px;
            color: $clr-indigo;
        }
        > .MuiFormControl-root {
            margin-bottom: 16px;
        }
        .navigation {
            margin-top: 16px;
        }
        button {
            min-width: 100px;
        }
        .input_credits {
            display: inline-block;
            margin: auto;
            width: 200px;
            input{
                text-align: center;
                font-size: 4.375rem;
            }
        }
    }

    .MuiLinearProgress-root {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 30px;
        width: 100%;
        &.MuiLinearProgress-colorPrimary {
            background-color: transparent;
        }
    }

    .item {
        &::before {
            background-color: transparent;
        }
        margin-bottom: 16px;
        .MuiExpansionPanelSummary-root {
            background-color: rgba($color: #303f9f, $alpha: 0.10);
            color: $clr-indigo;
            .MuiExpansionPanelSummary-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            p {
                font-weight: 600;
                text-transform: capitalize;
            }
        }
        .MuiExpansionPanelDetails-root {
            padding: 30px 25px 20px;
        }
        .item_form {
            > .MuiFormControl-root {
                margin-bottom: 32px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .item_remove-button {
        color: $clr-red;
        font-weight: bold;
        padding: 0;
    }
    .item_add-button {
        color: $clr-indigo;
        font-weight: bold;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .step-customer-confirmation {
        height: 80vh;
        margin: 0;
        form > .header h1 { 
            margin-bottom: 0;
        }
        .navigation {
            margin-top: 32px;
            flex-direction: column;
            button:last-child {
                margin-top: 10px;
                font-size: 14px;
            }
        }
    }
}


