@import '../../assets/styles/partials/variables';

/*********************
Layout

#Header
#Body
#LayoutScanner
*********************/

/*********************
#Header
*********************/
.layout-header {
    .layout-header_sub-title {
        color: $clr-gray;
    }
}

/*********************
#Body
*********************/
.layout-body {
    .MuiTypography-subtitle2 {
        font-weight: 600;
        color: $clr-black;
    }
    .skate-results {
        button {
            min-width: 100px;
            text-transform: capitalize;
        }
    }
}


/*********************
#Footer
*********************/
.layout-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include respond-to('xsmall') {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    &.layout-footer_center {
        text-align: center;
    }

}

.layout-footer_view-more {
    &.MuiTypography-root {
        text-align: center;
        color: $clr-blue;
        margin-top: 20px;
    }
    .view-more_title {
        font-size: 0.75rem;
        display: block; 
        font-weight: 600;
    }
    .view-more_icon {
        padding: 0;
        margin: 0;
        color: $clr-blue;
        margin-top: -10px;
    }
}

/*********************
#LayoutScanner
*********************/
#l-scanner {
    height: 100vh;
    color: $clr-white;
    padding: 0;
    &.slider-up {
        .slide-up_overlay {
            display: block;
        }
        .scanner-camera,
        .header-main {
            pointer-events: none;
        }
        .scanner-msg {
            margin-bottom: 0;
        }
    }
    .navbar-brand {
        color: $clr-white;
    }
    .sub-nav_back-button {
        font-size: 25px;
    }

    .scanner-placeholder {
        @include center-align();
        font-size: 100px;
        text-align: center;
        z-index: 1;
        margin-top: -70px;
    }
    .scanner-msg {
        color: red;
        margin-bottom: 100px;
        font-weight: bold;
        padding: 10px 30px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        .MuiButton-label {
            flex-direction: column;
        }
    }
    .footer_controller {
        .MuiSvgIcon-root {
            color: $clr-white;
        }
    }
  
    .scanner-camera,
    #camera_viewport {
        position: fixed;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        z-index: -1;
        background-color: black;
        .camera-overlay_top,
        .camera-overlay_bottom {
            position: absolute;
            top: 0;
            height: 40vh;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: .5);
        }

        .camera-overlay_bottom {
            top: auto;
            bottom: 0;
        }
        canvas,
        video {
            width: 100%;
            max-height: 100%;
        }
    }
}

/*********************
#Slide Up
*********************/
.slide-up_overlay {
    display: none;
    z-index: 99999999;
    background-color: rgba($color: black, $alpha: .9);
    height: 100vh;
}
.slide-up_result {
    position: absolute;
    padding: 20px;
    height: 50px;
    width: 100%;
    bottom: 0;
    z-index: 2;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    .layout-body {

    }
    .slide-up_result-complete {
        border-top: solid 1px $border-color;
        position: absolute;
        bottom: 0;
        padding: 15px 0;
        width: 100%;
        left: 0;
        border-radius: 0;
    }
    .slide-up_close {
        position: absolute;
        background: $clr-white;
        height: 5px;
        border-radius: 10px;
        width: 50px;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.slide-up_result.slide-up_result--right {
    right: 5vh;
    top: 5vh;
    bottom: auto;
    height: 90vh;
    width: 48vw;
    border-bottom-left-radius: 4px !important;
}

// /*********************
// #Header - Secondary
// *********************/
// .header-secondary {
//     .MuiToolbar-root {
//         padding: 0;
//     }
// }

/*********************
#Layout - Customer Profile
*********************/
.search_results {
    height: 60vh;
    overflow: auto;
    .MuiListItem-gutters {
        padding: 8px 5px;
        cursor: pointer;;
    }
}

.layout-footer {
    &.layout-footer_center {
        text-align: center;
        padding: 10px 20%;
    }
}


/*********************
#Layout - Create Account
*********************/
#p-customer-create-account {
    &.slideUp--true {
        display: none;
    }
    .layout-header {
        margin-bottom: 24px;
    }
    .MuiTypography-subtitle2  {
        margin-bottom: 8px;
    }
    .create-account_barcodes {
        .barcode_input-field {
            width: 100%;
            max-height: 150px;
            overflow: auto;
            .MuiGrid-item {
                margin-bottom: 16px;
            }
        }
    }
    .create-account_credits-btn {
        text-align: right;
    }
    .create-account_item-add  {
        width: 100%;
        border: 3px dotted $clr-gray;
        width: 100%;
        border-radius: 5px;
        justify-content: center;
        background-color: $clr-light-gray;
        font-weight: 600;
        color: $clr-gray;        
        cursor: pointer;
        margin-bottom: 15px;
    }
}
