@import '../../assets/styles/partials/variables';

/*********************
Layout : User Profile

#Header
#Mobile
*********************/


/*********************
# Header
*********************/
.customer_credit {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

/*********************
#List
*********************/
.user_skate-id {
    .MuiTypography-body1 {
        font-size: 0.9375rem;
    }
}

/*********************
#Mobile
*********************/
.customer-credit {
    justify-content: flex-end;
    font-size: 1.8rem;
    .MuiSvgIcon-root {
        font-size:1.9rem;
    }
}


.skate-results {
   .user_status {
        margin-right: 0;
      
        .MuiFormControlLabel-label {
            font-size: 12px;
            margin-top: -5px;
        }
        &.--in-service {
            color: #2196f3;
        }
   }
}