@import '../../assets/styles/partials/variables';


/*********************
Snippet

#Customer Credit
*********************/

.customer-credit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    color: $clr-black;
    .MuiSvgIcon-root {
        margin-left: 2px;
        font-size: 1.5rem;
        color: $clr-blue;
    }
}