@import '../../assets/styles/partials/variables';


/*********************
Header

#Nav
#Sub Nav
*********************/
header {
    &.MuiAppBar-colorPrimary {
        background-color: transparent;
        box-shadow: none;
        color: $clr-black;
    }
    &.header_dropshadow {
        box-shadow: 0 10px 12px 0 rgba(210, 214, 217, 0.33);
    }
}


header.header-main,
header.header-secondary {
    .MuiToolbar-root {
        justify-content: space-between;
    }
    .header-main_controller {
        display: flex;
    }
    .header_light-theme {
        
        .MuiToolbar-root {
            color: $clr-white;
        }
    }
    .header_dark-theme {
        
        .MuiToolbar-root {
            color: $clr-black;
        }
    }
}

header.header-secondary {
    overflow: hidden;
    &.header-secondary--slider {
        .MuiToolbar-root {
            color: black;
            padding: 0;
        }
        .MuiToolbar-regular {
            min-height: auto;
        }
        .MuiIconButton-root {
            padding: 0;
        }
    }
}

nav {
    font-size: 0.6875rem;
    .navbar-toggler {
        border: none;
        .navbar-toggler-icon {
            background-image: url(../../assets/images/icons/hamburger-menu.png);
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
        }
    }
}

/*********************
Header

#Sub Nav
*********************/
.header_sub {
    flex-grow: 1;
 
    .MuiToolbar-root {
        min-height: 110px;
        align-items: flex-start;
        // box-shadow: 0 10px 12px 0 rgba(210, 214, 217, 0.33);
        background-color: $clr-white;
    }
    .MuiTypography-root {
        flex-grow: 1;
        font-weight: bold;
        align-self: flex-end;
        color: $clr-blue;
    }
    .header_sub-bottom {
        margin-top: 54px;
        margin-left: -37px;
        width: 100%;
        margin-bottom: 20px;
        .header-title {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .header-description {
            color: $clr-light-blue;
        }
}


}

nav {
    &.sub-nav_back-button {
        padding: 10px 30px;
        .sub-nav_extra-function {
            float: right;
        }
    }
}