@import '../../assets/styles/partials/variables';


/*********************
Push Out Menu


#
*********************/
.push-out-menu {
    .MuiPaper-root  {
        // background-color: $clr-blue;
        color: $clr-blue;        
        width: 70%;
    }
    
    .push-out-menu_header { 
        padding: 15px ;
        display: flex;
        align-items: center;
        height: 10vh;
        .header_company-logo {
            height: 40px;
            width: 40px;
            background-color: $clr-black;
            border-radius: 5px;
            margin-right: 10px;
        }
        .header_company-name {
            line-height: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: $clr-black;
            margin-bottom: 0;
        }
        .header_store {
            font-size: 1rem;
            // border-bottom: 1px solid $border-color;
            margin-bottom: 0;
        }
    }
    .push-out-menu_list {
        height: 80vh;
        .MuiList-padding {
            padding: 0;
        }
        .MuiTypography-body1 {
            // font-size: 14px;
            font-weight: 600;
            @include respond-to('xsmall') {
                font-size: 1.25rem;
            }
        }
        a {           
            color: $clr-blue;  
            &:hover {
                color: white;
            }
        }
    }
}