
@import '/assets/styles/partials/_variables.scss';

/*********************
Typography

#Element
#Header
#Snippet
#Quick Detail
#Keyboard
#Paper
*********************/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family;
}


main {
	padding: 10px 16px;
	&:not(#p-scanner,#p-login) {
		// padding: 45px 30px;
	}
	
	&.sub-page {
		padding-top: 120px;
	}
}

a {
    color: $clr-blue;
    position: relative;
   
    &:hover {
      text-decoration: none;
    }
}

/*********************
#Header
*********************/
header {
//   &.sub-page_header {
// 	padding: 45px 30px;
// 	box-shadow: 0 10px 12px 0 rgba(210,214,217,0.33);
//     .header-title {
//         margin-bottom: 0;
//         padding-bottom: 0;
//     }
//     .header-description {
//         color: $clr-light-blue;
//     }
//   } 
}

/*********************
#Snippet
*********************/
.drop-shadow,
.MuiPaper-elevation--custom {
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05) !important;
}


/*********************
#Footer Controller
*********************/
.footer_controller {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	padding: 30px 0;
	width: 100%;
	.keyboard {
		color: $clr-gray;
	}

	&.dark-theme{
		.keyboard {
			color: $clr-white;
		}	
	}
}

/*********************
#Sub Page
*********************/
.sub-page {
	h4 {
		color: $clr-gray;
	}
}

/*********************
#Paper
*********************/
.MuiPaper-root {
	section {
		padding: 15px 0;
	}
}

/*********************
#list
*********************/
.item-list_wrapper{
	background: $clr-white;
	border-radius: 3px;
	padding: 15px;
	color: $clr-black;
	.item-list {
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
		.item-list-left {
			display: flex;
		}
		.item-list-right {
			display: flex;
			align-items: center;
			p {
				margin: 0;
			}
		}
		.item-text {
			color: $clr-blue;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.item-text_id,
			.item-text_drop-off{
				font-size: 12px;
				margin-bottom: 0;
			}
			.item-text_id {
				
				font-weight: 700;
			}
			.item-text_drop-off{ 
				font-weight: normal;
				color: rgba($color: $clr-light-gray, $alpha: 1.0);
			}
		}
	}
}

.item-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba($color: $clr-light-blue, $alpha: 0.6);
	border-radius: 3px;
	width: 35px;
	height: 35px;
	margin-right: 6px;
	font-size: 12px;
}

.item-text {
	color: $clr-light-blue;
	font-size: 14px;
	line-height: 14px;
	span {
		display: block;
		font-size: 10px;
		font-weight: 500;
	}
}

// User Profile
.user_skate-id {
	font-size: 16px;
}